* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #070605;
  color: #fff;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #f1f1f1;
}

/* Header */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  h1 {
    font-weight: 900;
    font-size: 2rem;
    margin-top: 5px;
    span {
      color: #070605;
      text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff,
        1px -1px 0 #fff;
    }
  }
}

header {
  z-index: 1;
  top: 0;
  background-color: #070605;

  .menu {
    .bar {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 35px;
      width: 35px;
      cursor: pointer;
      align-items: end;
      position: relative;

      .bar-1,
      .bar-2,
      .bar-3 {
        height: 2px;
        background-color: #f1f1f1;
        border-radius: 50px;
        transition: 200ms;
      }

      .bar-1 {
        width: 100%;
      }

      .bar-2 {
        width: 70%;
      }
      .bar-3 {
        width: 50%;
      }

      .deg-45 {
        position: absolute;
        transform: rotate(45deg);
        height: 6px;
        background: linear-gradient(90deg, #00aeff, #00ff00);
      }

      .deg--45 {
        position: absolute;
        transform: rotate(-45deg);
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  header{
    h1>a{
      font-size: 1.6rem;
    }
  }
}

.menu-body {
  position: fixed;
  z-index: 1;
  background: linear-gradient(60deg, #00aeff, #00ff00);
  top: unset;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(100vh - 51.4px);
  font-size: 1.5rem;
  a {
    color: #070605;
    font-weight: 500;
  }
  a:hover {
    transition: 200ms;
    background: #070605;
    width: 100%;
    padding: 10px;
    color: #f1f1f1;
    box-shadow: 0 0 4px #070605;
  }
  a.active {
    transition: 200ms;
    background: #070605;
    width: 100%;
    padding: 10px;
    color: #f1f1f1;
    box-shadow: 0 0 4px #070605;
  }
}

.d-none {
  display: none;
}

.loading {
  height: 2px;
  background: linear-gradient(90deg, #00ff00, #00aeff);
  position: sticky;
  top: 51.4px;
  z-index: 1;
}

/* footer */
footer {
  h1 {
    font-size: 4rem;
  }
  h6 {
    color: #9c9c9c;
  }
  ul {
    margin-bottom: 10px;
    li {
      line-height: 30px;
    }
  }
  .line {
    width: 6px;
    height: 30vh;
    border-radius: 10px;
    background: linear-gradient(180deg, #00aeff, #00ff00);
  }
  p {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 800px) {
  footer {
    .d-flex {
      flex-wrap: wrap;
    }
    .line {
      width: 100%;
      height: 5px;
    }
  }
}

/* page not found */
.page-not-found {
  min-height: calc(100vh - 54.3px);
  
  .inner{
    border: 1px solid #00ff00;
    height: 350px;
    width: 350px;
    text-align: center;
    border-radius: 100% 400px;
    box-shadow: -5px -10px 1px #00aeff,
    -3px -3px 10px #00ff00 inset;
    transition: 200ms;
    animation: 3s infinite linear inner-drop;
  }
  .inner:hover{
    box-shadow: -5px -10px 1px #00ff00,
    -3px -3px 10px #00aeff inset;
  }




  img {
    border-radius: 50%;
    box-shadow: 0 0 100px #fff;
    animation: 5s infinite box-shadow-img;
    pointer-events: none;
  }

  button {
    border: none;
    background-color: #070605;
    color: #f1f1f1;
    font-size: 1.4rem;
    border: 1px solid #f1f1f1;
    /* outline: #00ff00 1px solid; */
    /* box-shadow: 0 0 5px #f1f1f1; */
    border-radius: 5px;
    transition: 200ms;
    padding: 5px;
  }

  button:hover {
    padding: 5px 10px;
    background-color: #f1f1f1;
    color: #070605;
  }
}

@keyframes inner-drop {
  0%{
    border-radius: 100% 300px 300px 300px;
  }
  25%{
    border-radius: 300px 100% 300px 300px;
  }
  50%{
    border-radius: 300px 300px 100% 300px;
  }
  75%{
    border-radius: 300px 300px 300px 100%;
  }
  100%{
    border-radius: 100% 300px 300px 300px;
  }
}

@keyframes box-shadow-img {
  0% {
    box-shadow: 0 0 100px #fff;
  }
  50% {
    box-shadow: 0 0 0px #00ff00;
  }
  100% {
    box-shadow: 0 0 100px #fff;
  }
}

/* Home page */
.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  column-gap: 1%;
  height: calc(100vh - 54.4px);

  .box {
    overflow: hidden;
    text-align: center;
    height: 100%;
    text-transform: uppercase;
  }

  .box-1 {
    align-content: center;
    align-items: center;

    h1 {
      font-weight: bold;
      font-size: 5vw;
      background: -webkit-linear-gradient(45deg, #00aeff, #00ff00);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    h3 {
      font-size: 1.5vw;
    }

    img {
      max-width: 250px;
      width: 100%;
    }

    .line {
      height: 10px;
      border-radius: 100px;
      max-width: 250px;
      margin: 10px auto;
      background: linear-gradient(90deg, #070605, #00ff00);
    }
  }

  .box-2 {
    background-image: url("/portfolio-img/7cc58c3c3eee7211447cc24f544ef919.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    img {
      align-self: center;
      width: auto;
      height: 100%;
      object-fit: cover;
    }
    h2 {
      display: none;
    }
    h3 {
      display: none;
    }
  }

  .box-3 {
    align-items: center;
    text-align: right;
    align-content: center;

    h2 {
      font-size: 2.5vw;
    }

    h3 {
      font-size: 1.2vw;
      color: #9c9c9c;
    }

    img {
      max-width: 200px;
      width: 100%;
      border-radius: 100px;
    }
  }
}

@media screen and (max-width: 800px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    height: calc(100vh - 54.4px);
    .box-1 {
      h1 {
        /* text-align: left; */
        font-size: 3rem;
      }

      .line{
        height: 5px;
      }

      h3 {
        /* text-align: right; */
        font-size: 1rem;
      }

      img {
        display: none;
      }
    }
    .box-3 {
      display: none;
    }
    .box-2 {
      height: 50vh;
      align-items: center;
      align-content: center;

      h2 {
        display: block;
        font-size: 1.5rem;
      }
      h3 {
        display: block;
        color: #9c9c9c;
        font-size: 1rem;
      }
    }
  }
}


/* Next button */
.next-btn{
  border-radius: 100% 500px;
  max-width: 400px;
  margin: 0 auto;

  text-align: center;
  padding: 20px;
  height: 50vh;
  margin-top: 20px;
  transition: 200ms;
  box-shadow: -5px -5px 5px #00ff00 inset,
  -5px -5px 5px #00ff00;
  /* border-left: 5px solid #00ff00; */
  /* background: linear-gradient(90deg, #070605, #9c9c9c); */

  button{
    border: none;
    padding: 2px 10px;
    font-size: 2rem;
    font-weight: 400;
    border-radius: 10px;
    box-shadow: -1px -1px 2px #070605 inset;
    background: linear-gradient(30deg, #00aeff, #00ff00);

    align-content: center;
    align-items: center;
    i{
      font-size:1.5rem;
    }
  }
}

.next-btn:hover{
  border-radius: 500px 100%;
  /* background: linear-gradient(90deg, #00aeff, #00ff00); */
}



/* Layout */
.layout{
  min-height: calc(100vh - 54.4px - 331px );
}

/* About page */
.about{
  .col-md-8 img{
    max-width: 250px;
    width: 100%;
    box-shadow: 0 0 5px #fff;
  }

}

@media screen and (max-width: 800px) {
  .about{
    .col-md-8 .d-flex{
      align-items: center;
      gap: 20px;
    }
    .col-md-4{
      img{
        width: 100%;
        height: 150px;
        object-fit: cover;
      }
    }
  }
}

.background{
  .col-md-5{
    height: 80vh;
    text-align: right;
  }
  i{
    margin-right: 5px;
  }

  img{
    height: 100%;
  }
}

@media screen and (max-width: 800px) {
  .background .row{
    display: flex;
    flex-direction: column-reverse;

    .col-md-5{
      height: 100%;
    }

    .col-md-5 img{
      height: 100px;
      width: 100%;
      margin-top: 10px;
      object-fit: cover;
    }
  }
}